.footerman {
  img {
    width: 100%;
  }
  .footer {
    background: #2b2d3b;
    display: flex;
    justify-content: space-around;
    color: gray;

    p {
      padding-bottom: 10px;
      padding-top: 20px;

      span {
        color: white;
      }
    }
  }
}
